			.ss { width: 144px; }
			.ss:hover { width: 738px; }
			dl { padding-left: 1em; }
			div.box { margin: 1em; padding: .3em;
				border-top: 2px solid #88e;
				border-left: 2px solid #88e;
				border-bottom: 2px solid #228;
				border-right: 2px solid #114;
				background-color: #44b;
				color: #fff;
			}
			.box a { color: #eef; text-decoration: none; }
			.box a:hover { text-decoration: underline; }
			.box table { color: #ddd; font-size: smaller; padding: 0; margin-left: 1em }
			.box div { margin-left: 1em }
			.b { color: #0a0 }
			.s { color: #00a }

			pre a.pre {
				vertical-align:  super;
				text-decoration: underline;
				font-size:       small;
				font-style:      italic;
			}

			#content > h1.title { font-family: courier; font-size: normal; font-style: italic; }

/* override */
span.n::before { content: ""; }
span.n::after { content: ""; }

span.n.footnote {
	position: relative; /* for .footnote-nr */
}

span.n.footnote-nr::before {
	color: blue;
	display: inline-block;
	vertical-align: super;
	font-style: italic;
	content: "*)";
}

span.n.footnote-body {
	display: none;

	position: absolute;
	z-index: 10;
	bottom: 1em; left: 1em;
	border: 2px solid blue;
	background-color: #f4f4f4;
	padding: 2px .5em;
	border-radius: 2px;
	min-width: 20em;
}

span.n.footnote.open > .n.footnote-body {
	display: inline-block;
}


.n.src { font-family: courier, fixed-width; }


aside { display: block; margin: 1em 2em; padding-left: 1em; border-left: 2px solid green; }

h2.toc { font-size: inherit; font-style: italic; color: #444; }

pre { font-size: initial; }

form.comment { display: flex; margin-top: 1em; }
form.comment fieldset { background-color: #eee; padding: .5em; }
form.comment input,
form.comment textarea { width: 100%; }
