			.ss { width: 144px; }
			.ss:hover { width: 738px; }
			dl { padding-left: 1em; }
			div.box { margin: 1em; padding: .3em;
				border-top: 2px solid #88e;
				border-left: 2px solid #88e;
				border-bottom: 2px solid #228;
				border-right: 2px solid #114;
				background-color: #44b;
				color: #fff;
			}
			.box a { color: #eef; text-decoration: none; }
			.box a:hover { text-decoration: underline; }
			.box table { color: #ddd; font-size: smaller; padding: 0; margin-left: 1em }
			.box div { margin-left: 1em }
			.b { color: #0a0 }
			.s { color: #00a }

			pre a.pre {
				vertical-align:  super;
				text-decoration: underline;
				font-size:       small;
				font-style:      italic;
			}

			#content > h1.title { font-family: courier; font-size: normal; font-style: italic; }

span.n.footnote:before {
	color: blue;
	content: "*)";
	font-family: helvetica; /* size, width depend on this */
	font-size: 9pt;
	font-weight: bold;
	vertical-align: top;
}
span.n.footnote:after {
	content: "";
}

span.n.footnote {
	/* show only '*)' */
	display: inline-block;
	box-sizing: content-box;
	height: 1em;
	width: 7pt;
	overflow: hidden;

	font-style: italic;
}
span.n.footnote.open {
	display: inline;
	width: auto;
	overflow: initial;
	border: 2px solid blue;
	font-baseline: super;
}

.n.src { font-family: courier, fixed-width; }


aside { display: block; margin: 1em 2em; padding-left: 1em; border-left: 2px solid green; }
